<div class="mt-4">
    <h1>new blog</h1>
    <form method="post" action="/blog/store" autocomplete="true">
        <div class="form-group">
            <label for="exampleInputEmail1">Tiêu đề</label>
            <input type="text" class="form-control" id="title" placeholder="Enter Tiêu đề">
            <small id="emailHelp" class="form-text text-muted">Nhập tiêu đề bài viết.</small>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Nội dung</label>
            <input type="text" class="form-control" id="content" placeholder="Nội dung">
            <small id="emailHelp" class="form-text text-muted">Nhập nội dung bài viết.</small>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Hình ảnh</label>
            <input type="text" class="form-control" id="img"placeholder="hình ảnh bài viết">
            <small id="emailHelp" class="form-text text-muted">Hình ảnh bài viết.</small>
        </div>
        <button type="submit" class="btn btn-primary">Create blog</button>
    </form>
</div>