<div class="body">
    <div class="row">
        {{#each model}}
        <div class="col-sm-6 col-lg-4">
            <div class="{{this._id}}">
                <img class="card-img-top" src="{{this.img}}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{this.title}}</h5>
                    <p class="card-text">{{this.content}}</p>
                    <a href="#" class="btn btn-primary">Đọc</a>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>